<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><Company>CtrlSoft</Company><Pages>6</Pages><Words>2600</Words><Characters>14820</Characters><Lines>123</Lines><Paragraphs>34</Paragraphs><TotalTime>2</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>17386</CharactersWithSpaces><Application>WPS Office_12.2.0.17562_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>